.home {
    padding: 20px;
}

.top .dropdown-btn,
.top .searchbar-input,
.top .btn {
    height: 50px;
    box-sizing: border-box;
    white-space: nowrap;
}

.top .dropdown-btn{
    width: 200px;
}

.btn-filter .button-icon {
    width: 40px;
    height: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 20px;
    justify-content: center;
}

.top {
    margin-bottom: 20px;
    margin-top: -20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    display: flex;
}

.empty-state{
    width:100%;
    text-align:center;
    padding:40px 0;

    font-size:18px;
    color:#777;
}