* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* npm install @fontsource/inter */
/* npm install @fontsource/manrope */
/* for installing the inter font on the terminal */
body {
  font-family: 'Manrope', Helvetica, Arial, sans-serif;
  background-color: #e7e7e7;
  margin: 0;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Layout helpers */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

h2 {
  color: black;
  text-align: center;
  font-size: 48px;
}

text {
  color: black;
  text-align: left;
  font-size: 12px;
}
