.item-modal-overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.item-modal {
    position: relative;
    background: white;
    width: 900px;
    max-width: 95vw;
    border-radius: 10px;
    padding: 24px;
}

.item-modal-header {
    position: relative;
    align-items: center;
    margin-bottom: 24px;
}

.close-btn {
    border: none;
    background: none;

    font-size: 20px;
    cursor: pointer;
}

.item-detail-top {
    display: flex;
    gap: 24px;

    margin-bottom: 24px;
}

.item-image-container {
    width: 180px;
    flex-shrink: 0;
}

.item-image {
    width: 100%;
    height: auto;

    border-radius: 4px;
}

.item-info-grid {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 16px;
}

.item-info-grid label {
    display: block;

    font-weight: 600;

    margin-bottom: 4px;
}

.item-detail-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 16px;
}

.item-admin-top, .item-admin-bottom{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /* background-color: #0D99FF; */
    align-items: center;
    gap: 6px;
}

.item-admin-top,.item-admin-bottom > div {
    background-color: #003256;
    align-self: center;
    justify-self: center;

}
.item-admin-top {
    background-color: #0dff6a;

}
.item-admin-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #0D99FF;
    gap: 16px;
    padding: 16px;
}


.detail-box {
    border: 1px solid #d0d0d0;

    min-height: 150px;

    padding: 12px;
}

.detail-box label {
    display: block;

    font-weight: 600;

    margin-bottom: 8px;
}

.modal-admin-editbox {
    background-color: #0D99FF;
}