.item-modal-overlay {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 800;
}

.item-modal {
    position: relative;
    background: white;
    width: 900px;
    max-width: 95vw;
    border-radius: 10px;
    padding: 24px;
}

.item-modal-header {
    position: relative;
    align-items: center;
    margin-bottom: 24px;
}

.close-btn {
    border: none;
    background: none;

    font-size: 20px;
    cursor: pointer;
}

.item-detail-top {
    display: flex;
    gap: 24px;

    margin-bottom: 24px;
}

.item-image-container {
    width: 180px;
    flex-shrink: 0;
}

.item-image {
    width: 100%;
    height: auto;

    border-radius: 4px;
}

.placeholder-image {
    object-fit: contain;
    padding: 15px;
    background: #f5f5f5;
}

.item-info-grid {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 16px;
}

.item-info-grid label {
    display: block;

    font-weight: 600;

    margin-bottom: 4px;
}

.item-detail-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.item-admin-top{
    display: grid;
    background-color: #2289E6;
    padding: 8px 12px;
    border: 1px solid #2289E6;
    width: fit-content;
    border-radius: 4px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    gap: 6px;
    margin-top: 16px;
}

.item-admin-top p{
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

.item-admin-bottom p{
   justify-content:left;
}
.item-admin-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 8px 0;
    background-color: white;
}


.item-admin-contents label {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    gap: 6px;
}
.item-admin-contents {
    width: 100%;
    display: grid;
    padding: 8px 12px;
    border: 1px solid #2289E6;
    border-radius: 4px;
    margin-top: 8px;
    font-family: Helvetica, Arial, sans-serif;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #2289E6;
    gap: 16px;
}

.item-admin-contents input{
    height: 40px;
}
.item-admin-contents input:focus {
    outline: none;
    border: 2px solid black;
}

.detail-box {
    border: 1px solid #d0d0d0;

    min-height: 150px;

    padding: 12px;
}

.detail-box label {
    display: block;

    font-weight: 600;

    margin-bottom: 8px;
}